/* index.css or App.css */
@media (min-width: 770px) and (max-width: 879px) {
  .navbar-fix {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }

  .nav-item-fix {
    font-size: 0.875rem !important;
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
  }

  .logo-fix {
    font-size: 1.5rem !important;
  }
}
